<div class="total">
  <div class="vote-block">
    <form class="upvote-block" action='/votes' method='post'>
      <input type="image" src="/image/upvote.png">
      <input type='hidden' name='value' value=1 >
      <input type='hidden' name='votable_id' value=<%=params[:id]%>>
      <input type='hidden' name='votable_type' value=Question>
      <input type='hidden' name='question_id' value=<%=params[:id]%>>
    </form>
    <form class="downvote-block" action='/votes' method='post'>
      <input type='image' src="/image/downvote.png">
      <input type='hidden' name='value' value=-1 >
      <input type='hidden' name='votable_id' value=<%=params[:id]%>>
      <input type='hidden' name='votable_type' value=Question>
      <input type='hidden' name='question_id' value=<%=params[:id]%>>
    </form>
  </div>
 <!--  <div class="question-block"> -->
    <div class="sum-block"><%= @question.votes.reduce(0) { |sum, vote| sum + vote.value } %></div>
  <h3><%= @question.title %></h3>
  <!-- </div> -->
  <p><%= @question.content %></p>
  <h6><%= @question.user.username %></h6>
</div>

<h2>Comments</h2>
<div class="total">
<ul>
  <li>
    <% @question.comments.each do |comment| %>
       <div class="vote-block">
        <form class="upvote-block" action='/votes' method='post'>
          <input type="image" src="/image/upvote.png">
          <input type='hidden' name='value' value=1 >
          <input type='hidden' name='votable_id' value=<%=comment.id%>>
          <input type='hidden' name='votable_type' value=Comment>
          <input type='hidden' name='question_id' value=<%= @question.id%>>

        </form>
        <form class="downvote-block" action='/votes' method='post'>
          <input type='image' src="/image/downvote.png">
          <input type='hidden' name='value' value=-1 >
          <input type='hidden' name='votable_id' value=<%=comment.id%>>
          <input type='hidden' name='votable_type' value=Comment>
          <input type='hidden' name='question_id' value=<%= @question.id%>>
        </form>
      </div>
      <div class="sum-block"><%= comment.votes.reduce(0) { |sum, vote| sum + vote.value } %></div>
      <p><%= comment.content %></p>
      <h6><%= comment.user.username %></h6>
    <% end %>
  </li>
</ul>
</div>
<div id="future-comment-on-ques"></div>
<a id="new-comment-on-question" href="/questions/<%=@question.id%>/comments/new">Add a comment</a>

<br>
<br>

<h2>Answers</h2>
<br><br>
<a class='new_answer_form' href="/questions/<%=@question.id%>/answers/new">Answer this question!</a>

<form class="answer-form" action="/questions/:id" method="post">
  Answer: <input type="text" name="content"><br>
  <input type="hidden" name="question_id" value="<%= @question.id %>">
  <input type="submit" value="Post answer">
</form>
<ul id='create_new_answer'>
  <% @question.answers.each do |answer| %>
    <li>

      <div class="vote-block">
        <form class="upvote-block" action='/votes' method='post'>
          <input type="image" src="/image/upvote.png">
          <input type='hidden' name='value' value=1 >
          <input type='hidden' name='votable_id' value=<%=answer.id%>>
          <input type='hidden' name='votable_type' value=Answer>
          <input type='hidden' name='question_id' value=<%= @question.id%>>
        </form>
        <form class="downvote-block" action='/votes' method='post'>
          <input type='image' src="/image/downvote.png">
          <input type='hidden' name='value' value=-1 >
          <input type='hidden' name='votable_id' value=<%=answer.id%>>
          <input type='hidden' name='votable_type' value=Answer>
          <input type='hidden' name='question_id' value=<%= @question.id%>>
        </form>
      </div>

      <% if answer.best_answer == true %>
        <form class="best_answer" id="chosen_best_answer">
          <input type="image" src="/image/best_answer.png">
        </form>
      <% else %>
        <!-- <% answer.best_answer = false %> -->
        <form class="best_answer" action='/answers/best' method='post'>
          <input type="image" src="/image/best_answer.png">
          <input type="hidden" name="answer_id" value=<%= answer.id %>>
          <input type="hidden" name="question" value=<%= @question.user_id %>>
        </form>
      <% end %>

      <div class="sum-block"><%= answer.votes.reduce(0) { |sum, vote| sum + vote.value } %></div>
      <p><%= answer.content %></p>
      <h6><%= answer.user.username %></h6>
      <ul>
        <% answer.comments.each do |comment| %>
          <li>
            <div class="vote-block">
              <form class="upvote-block" action='/votes' method='post'>
                <input type="image" src="/image/upvote.png">
                <input type='hidden' name='value' value=1 >
                <input type='hidden' name='votable_id' value=<%=comment.id%>>
                <input type='hidden' name='votable_type' value=Comment>
                <input type='hidden' name='question_id' value=<%= @question.id%>>
              </form>
              <form class="downvote-block" action='/votes' method='post'>
                <input type='image' src="/image/downvote.png">
                <input type='hidden' name='value' value=-1 >
                <input type='hidden' name='votable_id' value=<%=comment.id%>>
                <input type='hidden' name='votable_type' value=Comment>
                <input type='hidden' name='question_id' value=<%= @question.id%>>
              </form>
            </div>
            <div class="sum-block"><%= comment.votes.reduce(0) { |sum, vote| sum + vote.value } %></div>
            <p><%= comment.content %></p>
            <h6><%= comment.user.username %></h6>
          </li>
        <% end %>
        <a class='new-comment-on-answer' href="/answers/<%=answer.id%>/comments/new">Comment on this answer</a>
        <form class='comment-on-answer-form' action="/answers/:id/comments" method="post">
          Content: <input type="text" name="content"><br>
          <input type="hidden" name="answer_id" value="<%= answer.id %>">
          <input type="submit" value="Post comment">
        </form>
      </ul>
    </li>
  <% end %>
</ul>

